{% extends "layout.twig" %}

{% block head %}
	<title>Me contacter</title>
{% endblock %}

{% block content %}
	<h1>Me contacter</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique iusto omnis obcaecati eos dolores? Laudantium architecto, quam nihil perferendis, itaque voluptatum est dolorem illum saepe dolorum ducimus! Corporis, recusandae ex.</p>
{% endblock %}
