{% extends "layout.twig" %}

{% block head %}
	<title>Home page</title>
{% endblock %}

{% block content %}
	<h1>Les derniers tutoriels</h1>

	<div class="row">
		{% for tutoriel in tutoriels %}
			<div class="col-xs">
				<div class="card">
					<h4 class="card-title">{{ markdown(tutoriel.name) }}</h4>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
