{% extends "layout.twig" %}

{% block head %}
	<title>Home page</title>
{% endblock %}

{% block content %}
	<h1>Les derniers tutoriels</h1>

	<ul>
		{% for tutoriel in tutoriels %}
			<li>{{ tutoriel.name }}</li>
		{% endfor %}
	</ul>
	
{% endblock %}
